<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item">🎬 WatchLog</a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a [routerLink]="['/']" class="navbar-item">Inicio</a>
      <a [routerLink]="['/library']" class="navbar-item">Biblioteca</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <button class="button is-dark is-outlined" [class.is-warning]="!isDark()" [class.is-primary]="isDark()" (click)="toggleTheme()">
          <span class="icon">
            <i class="fas" [class.fa-sun]="!isDark()" [class.fa-moon]="isDark()"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>


<!-- <nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/']">🎬 Watchlog</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" [routerLink]="['/library']">📚 Mi Lista</a>
        </div>
    </div>
</nav> -->